<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  
  <system.serviceModel>
    
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" />

          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="AspNetAjaxBehavior">
          <!-- <enableWebScript /> -->
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    
    <services>
      <service name="Typegeist.Server.Dispatcher.Dispatcher">
        <endpoint address="" 
                  behaviorConfiguration="AspNetAjaxBehavior"
                  binding="webHttpBinding" 
                  bindingConfiguration="DispatcherBinding"
                  contract="Typegeist.Server.Dispatcher.IDispatcher" />
      </service>
    </services>
    
    <bindings>
      <webHttpBinding>
        <binding name="DispatcherBinding"
                 hostNameComparisonMode="StrongWildcard" />
      </webHttpBinding>
    </bindings>
    
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
        <directoryBrowse enabled="false" />
  </system.webServer>
  
</configuration>
